.user-info {
  background-color: #00a0b0;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  flex-direction: row;
}

.user-info h2 {
  font-size: 3rem;
  color: white;
}

.user-info p {
  font-size: 1.5rem;
  color: white;
  text-align: start;
}

.user-info img {
  width: 10rem;
  height: 9rem;
  transform: scale(1.4) translateX(48.4rem);
  margin: -6.9rem;
}
