.menu-item-conteiner{
  background-color: #eb6841;
  height: 5rem;
  display: flex;
  align-items: center;
}

.menu-item-conteiner input {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  border-radius: 25px;
  width: 500px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15rem;
  margin-top: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-size: 20px 20px; 
  background-position: 95% 50%; 
  background-repeat: no-repeat;
}

.menu-item-conteiner input:hover {
  background-color: #e0e0e0; 
  border: 2px solid #999; 
}

.user-info {
  background-color: #00a0b0;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  flex-direction: row;
}

.user-info h2 {
  font-size: 3rem;
  color: white;
}

.user-info p {
  font-size: 1.5rem;
  color: white;
  text-align: start;
}

.menu-item-conteiner button {
  background-color: #edc951;
  color: white;
  border-radius: 2rem;
  height: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 9rem;
  transform: translateY(0.2rem);
  display: inline-block;
  transition: background-color 0.1s, transform 0.1s;
  text-align: center; /* Centraliza o texto */
  font-size: 1.5rem;
  padding-top: 0.4rem;
}


.menu-item-conteiner button:hover {
  background-color: #f2d933;
  transform: translateY(0);
}

.menu-item-conteiner button:active {
  animation: blink 0.5s;
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.menu-item-conteiner img {
  width: 15rem;
  height: 3rem;
  transform: scale(1.2) translateX(6rem);
  transform-origin: left;
  margin: -1.2rem;
}

.user-info img {
  width: 10rem;
  height: 9rem;
  transform: scale(1.4) translateX(48.4rem);
  margin: -6.9rem;
}
