.grupo-feed {
    display: flex;
    padding: 1rem;
    color: var(--brown);
}

.grupo-feed img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.grupo-feed p{
    display: flex;
    padding-left: 0.5rem;
}

.conteudo-grupo{
    align-items: center;
}
.conteudo-grupo span{
    padding-left: 0.5rem;
    display: flex;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}