.navbar {
  width: 0; 
  height: 110%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 0rem;
  padding-block: 1.5rem;
  flex-direction: column;
  z-index: 1;
  transition: 0.8s ease-in-out;

}

.navbar.open {
  width: 23%; 
  background-color: #eb6841;
  display: flex;
  flex-direction: column;
}