.navbar {
  width: 0; 
  height: 130%; 
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 0rem;
  padding-block: 1.5rem;
  flex-direction: column;
  z-index: 1;
  transition: 1s ease-in-out;
}

.navbar.open {
  width: 23%; 
  background-color: #eb6841;
  display: flex;
  flex-direction: column;
}

.navbar-cover {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}

.navbar.open ~ .navbar-cover {
  display: block;
}
