button {
    width: 20%;
    padding: 1rem;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius:  2.5rem;
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: none;
    font-size: 1rem;
}
