.profileImg img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.125rem solid #fff;
    object-fit: cover;
}

.profile-sidebar h1 {
    color: #00a0b0;
    line-height: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}