.container-bike-view {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   min-height: 80vh;
   padding: 0 30rem;
}

.container-bike-view p {
   font-size: 2rem;
   padding: 1rem;

}
