.user-info {
  background-color: #edc951;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  flex-direction: row;
  position: relative;
}

.user-info h2 {
  font-size: 3rem;
  color: white;
  margin-left: -15rem;
}

.user-info p {
  font-size: 1.5rem;
  color: white;
  text-align: start;
}

.user-info img {
width: 11rem;
height: 10rem;
transform: scale(1.35) translateX(-4rem);
margin-left: -30rem;
margin-top: 0rem;
display: flex;
}

.userImg-container img {
width: 10rem;
height: 10rem;
border-radius: 50%;
border: 0.125rem solid #fff;
object-fit: cover;
}

.user-info h3 {
color: #fff;
position: absolute;
left: 16rem; 
}

.user-info p {
color: #fff;
font-size: 1rem;
position: absolute;
left: 16rem;
margin-top: 3rem;
}

.user-info {
display: flex;
align-items: center;
}

.info-container {
display: flex;
align-items: center;
}

.direita {
position: absolute;
right: -6rem;
top: 2rem;


}

.userImg-container {
width: 10rem;
height: 10rem;

}

.esquerda {
width: 10rem;
height: 10rem;
margin-left: auto;
}

.msg-button {
text-align: center;
margin-top: 1.25rem;
background-color: #fff;
padding: 3rem; 
font-size: 1.3rem;
font-family: Helvetica, sans-serif;
}

.msg-button-container {
margin: 5rem auto; 
color: #6a4a3c; 
}

.btn-esquerda {
background-color: #eb6841;
color: #fff;
padding: 0.75rem 1.5rem;
font-size: 1.2rem; 
font-family: Helvetica, sans-serif;
margin-right: 1rem; 
margin-left: 1rem; 
}

.btn-direita {
background-color: #f2d933; 
color: #fff; 
padding: 0.75rem 1.5rem;
font-size: 1.2rem;
font-family: Helvetica, sans-serif;
margin-right: 1rem; 
margin-left: 1rem; 
}

