.menu-item-container{
  background-color: #eb6841;
  height: 5rem;
  display: flex;
  align-items: center;
}

.menu-item-container input {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  border-radius: 25px;
  width: 500px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15rem;
  margin-top: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-size: 20px 20px; 
  background-position: 95% 50%; 
  background-repeat: no-repeat;
}

.menu-item-container input:hover {
  background-color: #e0e0e0; 
  border: 2px solid #999; 
}

.user-info {
  background-color: #edc951;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  flex-direction: row;
  position: relative;
}

.user-info h2 {
  font-size: 3rem;
  color: white;
}

.user-info p {
  font-size: 1.5rem;
  color: white;
  text-align: start;
}

.menu-item-container button {
  background-color: #edc951;
  color: white;
  border-radius: 2rem;
  height: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 9rem;
  transform: translateY(0.2rem);
  display: inline-block;
  transition: background-color 0.1s, transform 0.1s;
  text-align: center; /* Centraliza o texto */
  font-size: 1.5rem;
  padding-top: 0.4rem;
}

.menu-item-container button:hover {
  background-color: #f2d933;
  transform: translateY(0);
}

.menu-item-container button:active {
  animation: blink 0.5s;
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }

}

.user-info img {
width: 12rem;
height: 10rem;
transform: scale(1.2) translateX(-4rem);
margin-left: -22rem;
margin-top: 0rem;
}

.userImg-container img {
width: 10rem;
height: 10rem;
border-radius: 50%;
border: 0.125rem solid #fff;
object-fit: cover;
}

.user-info h3 {
color: #fff;
position: absolute;
left: 16rem; 
}

.user-info p {
color: #fff;
font-size: 1rem;
position: absolute;
left: 16rem;
margin-top: 3rem;
}

.user-info {
display: flex;
align-items: center;
}

.info-container {
display: flex;
align-items: center;
}

.direita {
position: absolute;
right: -6rem;
top: 2rem;


}

.userImg-container {
width: 10rem;
height: 10rem;

}

.esquerda {
width: 10rem;
height: 10rem;
margin-left: auto;
}

.msg-button {
text-align: center;
margin-top: 1.25rem;
background-color: #fff;
padding: 3rem; 
font-size: 1.3rem;
font-family: Helvetica, sans-serif;

.msg-button-container {
margin: 5rem auto; 
color: #6a4a3c; 
}

.btn-esquerda {
background-color: #eb6841;
color: #fff;
padding: 0.75rem 1.5rem;
font-size: 1.2rem; 
font-family: Helvetica, sans-serif;
margin-right: 1rem; 
margin-left: 1rem; 
}

.btn-direita {
background-color: #f2d933; 
color: #fff; 
padding: 0.75rem 1.5rem;
font-size: 1.2rem;
font-family: Helvetica, sans-serif;
margin-right: 1rem; 
margin-left: 1rem; 
}

}
