/* Grupos de passeio em João Pessoa Criado por Cinthia*/

 

.grupo-info {
  background-color: #edc951;
  font-family: Helvetica, sans-serif;
  display: flex;
  align-items: center;
  height: 13rem;
  width: 100rem;
  padding: 1rem;
}

.grupo-container {
    display: flex;
    justify-content: flex-end;
}


.grupo-info h2 {
  font-size: 2.5rem;
  color: white;
  margin-left: 20rem;
  padding: 1rem;
}


.grupo-info img {
  width: 10rem;
  height: 9rem;
  transform: scale(1.4) translateX(65rem);
  margin: -6.9rem;
  position: absolute;
  padding: -4rem;
} 

.profile-container {
  background-color: #00a0b0;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  display: flex;
  width: 17.8rem;
  height: 55rem;
  margin-top: -42rem;
  position: absolute;
  
}

.profileImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}


.profileImg img {
  width: 10rem;
  height: 10rem;
  border: 0.125rem solid #fff;
  object-fit: cover;
}


.profile-container h1 {
  color: #fff;
  line-height: 3rem;
  margin-left: 1rem;
  margin-top: 2.5rem;
  font-weight: normal;
}


.profile-container a {
  color: #edc951;
  font-size: 1.5rem;  
  margin-left: 3rem;
}


.profile-container h2 {
  font-size: 2.5rem;
  color: white;
  margin-top: 1rem;

}


.direita-grupo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin-top: 3rem;
  padding-left: 24rem;
}


.nome-da-sua-div {
  position: relative;
}
