/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section1,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6 {
    width: 100vw;
    min-height: 100vh;
    color: white;
  }
  
  /* Section 1 */
  .section1 {
    background-color: #1e88e5;
  }
  /* Section 2 */
  .section2 {
    background-color: #43a047;
  }
  /* Section 3 */
  .section3 {
    background-color: #f4511e;
  }
  /* Section 4 */
  .section4 {
    background-color: #9c27b0;
  }
  /* Section 5 */
  .section5 {
    background-color: var(--yellow);
    background-image: url('../assets/Estrelas/Estrela_grande_branca.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25rem -38rem;

    text-align: center;
  }
  .title-section5{

    color: var(--blue);
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: -0.04em;
  }

  .container-recomendacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 5rem;
    margin-top: 2rem;
  }


  /* Section 6 */
  .section6 {
    background-color: #795548;
  }
  