/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section1,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6 {
    width: 100vw;
    min-height: 100vh;
    color: white;
  }
  
  /* Section 1 */
  .section1 {
    background-color: #1e88e5;
  }

  /* Section 2 */
  .section2 {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }

  .section2-img {
  width: 100%;
  display: flex;
  justify-content:flex-start;
  overflow: hidden;
}

  .section2-img img {
  width: 45.625rem;
  height: 43.45rem;
  transform: scale(1.3) translateX(-12rem);
  transform-origin: left;
}

  .section2-container {
    color: black;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.1) translateX(-5rem);
    transform: translate(-7rem, -6rem);
  }

  .section2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 24rem;
    margin: 13rem;
    row-gap: 1rem;
    font-size: 1.1rem;
  }

  .section2-text span {
    font-weight: 700;
    font-style:normal;
    font-size: 3.2rem;
    line-height: 3.70rem;
    letter-spacing: -0.04em;
    color: black;
    }

  .section2-container button {
    width: 30%;
    height: -10rem;
    margin-top: -7rem;
    background-color: var(--blue);
    font-family: Helvetica, sans-serif;
  }

  /* Section 3 */
  .section3 {
    background-color: #f4511e;
  }
  /* Section 4 */
  .section4 {
    background-color: var(--orange);
  }



  /* Section 5 */
  .section5 {
    background-color: var(--yellow);
    background-image: url('../assets/Estrelas/Estrela_grande_branca.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25rem -38rem;
    text-align: center;
  }

  .title-section5{
    color: var(--blue);
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: -0.04em;
    font-family: Helvetica, sans-serif;
  }

  .container-recomendacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 5rem;
    margin-top: 2rem;
    font-family: Helvetica, sans-serif;
  }


  /* Section 6 */
  .section6 {
    background-image: url('../assets/background-imgs/close-up-cyclist-woman-outdors2.png');
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .section6-text1 {
    color: #fff;
    font-size: 3.5rem;
    position: absolute;
    margin-top: 7rem;
    margin-left: 5rem;
    font-family: Helvetica, sans-serif;
  }

  .section6-text2 {
    color: #fff;
    font-size: 3.5rem;
    position: absolute;
    margin-top: 30rem;
    margin-left: 5rem;
    font-family: Helvetica, sans-serif;
  }

  .section6-button {
    margin-top: 44.5rem;
    margin-left: 5rem;
    margin-bottom: 4rem;
    font-family: Helvetica, sans-serif;
  }

  footer {
    width: 100vw;
    min-height: 30vh;
    background-color: #fff;
    color: black;
  }

.footer-img {
  position: absolute;
  width: 20%;
  height: auto;
  margin-top: 6rem;
  margin-left: 8rem;
}

.footer-text1 {
  position: absolute;
  margin-top: 3rem;
  margin-left: 50%;
  font-family: Helvetica, sans-serif;
}

.footer-text2 {
  position: absolute;
  margin-top: 6rem;
  margin-left: 50%;
  font-size: 0.8rem;
  font-family: Helvetica, sans-serif;
}

.footer-text3 {
  position: absolute;
  margin-top: 12rem;
  margin-left: 50%;
  font-family: Helvetica, sans-serif; 
}

.footer-text2 h1 {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
}

.footer-text3 h1 {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
}
  