*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root{
  --blue: #00A0B0;
  --brown: #6A4A3C;
  --red: #CC333F;
  --orange: #EB6841;
  --yellow: #EDC951;
  --text-defaut: #FFFF;
  --text-underline: var(--text-defaut);
  --title: #FFFF;
  --background-color-yellow: var(--yellow);
  --background-color-blue: var(--blue);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'Helvetica Neue','Courier New',
    monospace, sans-serif;
}
