*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root{
  --blue: #00A0B0;
  --brown: #6A4A3C;
  --red: #CC333F;
  --orange: #EB6841;
  --yellow: #EDC951;
  --text-defaut: #FFFF;
  --text-underline: var(--text-defaut);
  --title: #FFFF;
  --background-color-yellow: var(--yellow);
  --background-color-blue: var(--blue);
  --font-size: 16px;
  --main-font: 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font), BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: var(--tamanho-fonte);
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'Helvetica Neue','Courier New',
    monospace, sans-serif;
}
